@font-face {
    font-family: "Source Serif";
    src: url("../fonts/SourceSerif4.ttf")
}
@font-face {
    font-family: "Crimson Text Regular";
    src: url("../fonts/CrimsonText-Regular.ttf")
}

* {
    box-sizing: border-box;
}

html {
    font-size: 20px;
    font-family: "Crimson Text Regular", sans-serif; /* TODO: Crimson Text or something similar */
    background-color: #a5a5a5;
    overflow-y: scroll;
}
body {
    display: flex;
    flex-flow: column;
    width: 1200px;
    margin: 0 auto;

    background-color: #c5c5c5;
}
a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}
p {
    margin: 0;
}
.mobile {
    display: none;
}

header {
    display: flex;
    flex-flow: row;
    flex: 2 2;

    background-color: #fefefe;
}
header .left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2.5 2.5;

    font-size: 1.2rem;
    font-weight: 900;
    padding: 1rem;
}
header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    flex: 5 5;
    padding: 1rem;
}
header nav a {
    font-weight: normal;
}
header nav a:hover {
    font-weight: 600;
}
header .right {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    flex: 2.5 2.5;
    font-size: 0.9rem;
    padding: 1rem;
}
header .right .icons {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
}
header .right .icons a img {
    width: 30px;
}

div.title-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/header.png");
    height: 150px;
}
div.title-header h2 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    font-size: 1.6rem;
}

main {
    display: flex;
    flex-flow: column;
    flex: 8 8;
    padding: 1rem;
}

footer {
    flex: 1 1;
    padding: 1rem;
    border-top: 1px solid black;
    text-align: center;
    background-color: #fefefe;
}

/* Non-interfering scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #a5a5a5;
    border-radius: 5px 5px 5px 5px;
}
::-webkit-scrollbar-thumb {
    background: #444141;
    border-radius: 5px 5px 5px 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #212020;
    border-radius: 5px 5px 5px 5px;
}

@media screen and (max-width: 768px)
{
    .mobile {
        display: flex;
    }
    .desktop {
        display: none;
    }

    body {
        width: 100vw;
    }

    header nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
    header nav span {
        display: none;
    }
    header .right .icons {
        justify-content: space-evenly;
        width: 100%;
    }
}